@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'Varela Round';
}


.container1 {
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  font-family: cursive;
}

.container1 > div{
  height: 100%;
  background: url('./assets/SPA.jpg');
  background-size: cover;
  background-attachment: fixed;
  z-index:0
}

.labelText {
  font-family: 'Ephesis', cursive;
}

/* .parallaxText {
  font-family: 'Ephesis', cursive;
  background: #fff;
  left: 50%;
  top: 50%;
  position: relative;
  padding: 20px;
  transform: translate(-50%, -50%);
  z-index: 999
} */
.fixed{
  background: url('./assets/treaturself.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding: 0px 0px;
  position: fixed;
  top:0;
  z-index:-1;
  width: 100%;
}

/*Product section styling*/

.container{
  background-color: #f8f3e5;
  z-index: -2;
}

.main_content{
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  margin: 50px auto;
  padding: 50px 0 0;
  position: relative;
  width: 70%;
  
}

/*Cart Item*/
.cartItem{
    display: flex;
    flex-wrap: wrap;
}

/*Homepage styling parallax image*/
@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}

/*Media queries for different screen sizes*/
@media only screen and (max-width:600px){
  .container1 > div {
      display: none;
  }
}